@use 'variaveis';

.elenco{
    padding: 5.6vw;
    background-color: white;

    &__escolha{
        grid-template-columns: 1fr 1fr 1fr;
        display: none;
        list-style: none;
        align-content: center;
        padding-top: 4vw;

        &--active{
            display: grid;
        }

        &__item{
            text-align: center;
            padding-top: 2vw;
            img{
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    &__astro{
        list-style: none;

        &__item{
            margin:  5.6vw;
            min-height: 400px;
            background-color: variaveis.$preto;
            display: none;

            &--active{
                display: block;
            }
        }


    }
}